<div class="container">
  <h1>Our Wood Products</h1>
  <div class="product-header">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, laborum
      voluptas reprehenderit .
    </p>
  </div>
  <div class="gallery">
    <img src="/assets/1.jpg" />
    <img src="/assets/2.jpg" />
    <img src="/assets/3.jpg" />
    <img src="/assets/4.jpg" />
    <img src="/assets/5.jpg" />
    <img src="/assets/6.jpg" />
    <button class="learn-more-button">
      <h3>Learn More</h3>
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>
