<header class="header">
  <div class="title-menu">
    <button class="menu" (click)="toggleMenu()">
      <i class="{{ isMenuOpen ? 'fas fa-times' : 'fas fa-bars' }}"></i>
      <div class="menu-dropdown" *ngIf="isMenuOpen">
        <ul>
          <li>3D Posteri</li>
          <li>O nama</li>
          <li>Kontakt</li>
        </ul>
      </div>
    </button>
    <h1>DrvoWood</h1>
  </div>

  <div class="header-buttons">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="text" class="search-input" placeholder="Pretrazi" />
    </div>
    <button class="heart-button">
      <i class="far fa-heart"></i>
      <p>Omiljeno</p>
    </button>
    <button class="cart-button">
      <i class="fa fa-shopping-cart"></i>
      <p>Korpa</p>
      <!-- Prazna korpa (outline) -->
    </button>
  </div>
</header>
