<header class="header">
  <div class="title-menu">
    <button class="menu" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    <h1>DrvoWood</h1>
  </div>

  <div class="header-buttons">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="text" class="search-input" placeholder="Pretrazi" />
    </div>
    <button class="heart-button">
      <i class="far fa-heart"></i>
      <p>Omiljeno</p>
    </button>
    <button class="cart-button">
      <i class="fa fa-shopping-cart"></i>
      <p>Korpa</p>
      <!-- Prazna korpa (outline) -->
    </button>
  </div>
</header>
