.header {
  display: flex;
  background-color: #e2ceb1;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  .title-menu {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    .menu {
      position: relative;
      background-color: transparent;
      border: none;
      margin: 10px;
      cursor: pointer;
    }

    .menu-dropdown {
      margin-top: 5px;
      position: absolute;
      background-color: white;
      width: 200px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu-dropdown ul {
      list-style-type: none;
      color: #391e10;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    .menu-dropdown li {
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }

    .menu-dropdown li:hover {
      border-radius: 10px;
      background-color: #f1f1f1;
    }

    i {
      font-size: 30px;
      color: #391e10;
    }
    h1 {
      color: #391e10;
    }
  }
  .header-buttons {
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;

    .search {
      position: relative;
      display: flex;
      align-items: center;
      border: 1px solid #391e10;
      border-radius: 20px;
      padding: 5px 10px;
    }
    .search-input {
      background-color: transparent;
      border: none;
      outline: none;
    }
    .search i {
      margin-right: 5px;
      opacity: 0.25;
    }

    .heart-button,
    .cart-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      gap: 2px; /* Smanjen razmak između ikonice i teksta */
    }
    .heart-button i,
    .cart-button i {
      font-size: 20px;
    }
    .heart-button p,
    .cart-button p {
      margin: 5px;
      font-size: 14px;
    }
  }
}
