<header class="header">
  <div class="col-md-4 title">
    <em><h1>DrvoWood</h1></em>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae harum autem
    nemo ipsa dolores iusto
  </p>
  <nav *ngIf="!isMobile">
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">3D Posters</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div *ngIf="isMobile">
    <button class="menu" (click)="toggleMenu()">
      <i class="{{ isMenuOpen ? 'fas fa-times' : 'fas fa-bars' }}"></i>
    </button>
    <div class="menu-dropdown" *ngIf="isMenuOpen">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">3D Posters</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 header-buttons">
    <button class="heart-button">
      <i class="far fa-heart"></i>
    </button>
    <button class="cart-button">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </div>
</header>
