/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #f5e0c5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}
